{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  body {
    background-color: #f5f5f5;
  }

/* Style the boxes*/
  .about-box, .discover-box {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
  }

/* Add a margin between the two boxes */
  .about-box {
    margin-top: 50px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }

/* Center and size image */
.microgreens-image {
  display: block;
  margin: 50px auto 0;
  max-width: 100%;
  height: auto;
}

/* Hide the logo initially */
  .container {
	opacity: 0;
  }

/* Define the fade-in animation */
  @keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Apply the fade-in animation to the logo */
  .container {
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-fill-mode: forwards;
  }
</style>

<div class="container">
  <section class="hero">
    <div class="hero-image" style="display: flex; justify-content: center; align-items: center;">
      <a href="{% url 'shop' %}">
        <img src="{% static 'img/Logo.png' %}" alt="microgreens" style="position: relative;">
      </a>
    </div>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="discover-box">
          <h2 class="text-center">Awaken Your Palette to the Symphony of Microgreens</h2>
          <p class="text-center">Petite yet potent, microgreens are the tender shoots of a vegetable plant, standing only 1-3 inches tall. Don't be deceived by their size - these younglings bring an impressive explosion of flavors ranging from sweet, spicy to earthy tones, titillating your taste buds and enlivening your dishes.</p>

          <p class="text-center">But microgreens are more than just a feast for the palate; they are also a powerhouse of nutrients. Bursting with vitamins, minerals, and antioxidants, studies have revealed that microgreens can carry up to 40 times more nutrients compared to their fully-grown siblings. By incorporating microgreens into your diet, you are not just adding colors and flavors to your meals but also taking a big stride towards better health.</p>

          <p class="text-center">Our palette of microgreens includes popular varieties such as arugula, broccoli, kale, and radish. Whether you use them as a garnish or as a key ingredient in your salads, sandwiches, or smoothies, microgreens will undoubtedly enhance your culinary journey.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box">
          <h2 class="text-center">Rooted in Purity, Sprouting Quality</h2>
          <p class="text-center">At our microgreens boutique, we strive to cultivate the purest, highest-quality organic and non-GMO microgreens. Nestled in organic soil, nurtured by reverse osmosis water, our microgreens flourish under meticulous care and strict quality control. We grow them indoors, creating a sanctuary free from external contaminants, ensuring our greens remain as pure as nature intended.</p>

          <p class="text-center">We are zealous advocates of the immense health benefits of microgreens. With sulforaphane, a compound found abundantly in broccoli microgreens, studies have linked it to an array of health benefits such as improved heart health, reduced inflammation, and even lowered risk of cancer.</p>

          <p class="text-center">Our journey began when we stumbled upon the astonishing potential of sulforaphane, inspiring us to cultivate broccoli microgreens. The positive changes we observed in our health – heightened energy, better focus, overall well-being – drove us to share these benefits with others.</p>

          <p class="text-center">From seed to harvest, every step is conducted with utmost care and attention to detail. By sharing our passion for these nutritional powerhouses, we hope to help you reap their health benefits. We thank you for choosing us for your microgreens, and we pledge to provide you with nothing but the freshest and most nutrient-dense greens.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="microgreens">
    <img src="{% static 'img/microgreens-about.png' %}" alt="Microgreens" class="microgreens-image">
  </section>
</div>
{% endblock %}
