{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  body {
    background-color: #f5f5f5;
  }

/* Style the boxes*/
  .about-box, .discover-box {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
  }

/* Add a margin between the two boxes */
  .about-box {
    margin-top: 50px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }

/* Center and size image */
.microgreens-image {
  display: block;
  margin: 50px auto 0;
  max-width: 100%;
  height: auto;
}

/* Hide the logo initially */
  .container {
	opacity: 0;
  }

/* Define the fade-in animation */
  @keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Apply the fade-in animation to the logo */
  .container {
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-fill-mode: forwards;
  }
</style>

<div class="container">
  <section class="hero">
    <div class="hero-image" style="display: flex; justify-content: center; align-items: center;">
      <a href="{% url 'shop' %}">
        <img src="{% static 'img/Logo.png' %}" alt="microgreens" style="position: relative;">
      </a>
    </div>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="discover-box">
          <h2><span class="highlight">Discover</span> the World of Microgreens</h2>
            <p>Microgreens are young vegetable greens that are approximately 1–3 inches tall. They have an intense flavor and are packed with nutrients, making them a great addition to any diet. Despite their small size, microgreens are packed with essential vitamins, minerals, and antioxidants. In fact, studies have shown that they can contain up to 40 times more nutrients than their mature counterparts. This makes them a great addition to any diet, especially for those who are looking to boost their nutrient intake. Microgreens come in a variety of flavors, including sweet, spicy, and earthy. Some popular varieties include arugula, broccoli, kale, and radish. They can be used as a garnish or incorporated into a variety of dishes, including salads, sandwiches, and smoothies.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-box">
          <h2><span class="highlight">About</span> Us</h2>
          <p>
            At our microgreen business, we're dedicated to providing you with the highest quality organic and non-GMO microgreens that are grown with care and attention to detail. Our microgreens are grown in organic soil and watered with reverse osmosis water, ensuring their purity and quality.

            We take pride in growing our microgreens indoors, which helps us to maintain a controlled environment, free from any external contaminants. We believe that growing our microgreens in aclean and pure environment is essential to producing the highest quality products possible.

            Microgreens have been shown to offer a range of health benefits, and we're passionate about spreading the word about their incredible nutritional properties. One compound found in broccoli microgreens, sulforaphane, has been linked to numerous health benefits, including improved heart health, lower inflammation, and even reduced risk of cancer.

            It was the discovery of sulforaphane that inspired us to start growing and using microgreens in our own daily diets. We were amazed by the potential health benefits and decided to start growing broccoli microgreens ourselves. Since then, we've been incorporating them into our smoothies, and have experienced increased energy and focus, as well as improved overall health.

            At our microgreen business, we're committed to bringing you the best quality microgreens possible, grown with care and attention to detail. We hope that by sharing our passion for these incredible greens, we can help others experience the amazing health benefits they have to offer.

            Thank you for choosing us for your microgreen needs. We appreciate your support and look forward to providing you with the freshest and most nutritious microgreens available.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="microgreens">
    <img src="{% static 'img/microgreens-about.png' %}" alt="Microgreens" class="microgreens-image">
  </section>
</div>
{% endblock %}
